<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
      <Stasevi4_Orderby>
         <version>0.1.0</version>
      </Stasevi4_Orderby>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_list_toolbar>Stasevi4_Orderby_Block_Product_list_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
        </blocks>
	</global>
</config>